# Composer
vendor
vendor/*
composer.lock

# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Grunt
/node_modules/
none

# Sass
.sass-cache/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Tests
/coverage
/tests/bin/tmp
phpcs.xml
phpunit.xml
.phpunit.result.cache

# DLM
assets/etc/defuse.txt
assets/etc/secret.txt
logs/debug.log
logs/error.log
blocks/dist
blocks/node_modules
blocks/package-lock.json
